<ion-header>
  <ion-toolbar>
    <ion-button slot="end" color="royal" (click)="logout()">
        <ion-icon  color="primary" name="log-out"></ion-icon>
    </ion-button>
    <ion-title>Dispositivos </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-list>
        <ion-item *ngFor="let device of devices">
          <ion-label >{{ device.deviceName }}</ion-label>
          <ion-toggle [(ngModel)]="device.status" (ionChange)="captureToggle(device)"></ion-toggle>
        </ion-item>
      </ion-list>

      {{barcode}}

      <ion-fab vertical="bottom" horizontal="end" slot="fixed" (click)="cadastrarDispositivo()">
          <ion-fab-button>
            <ion-icon name="add"></ion-icon>
          </ion-fab-button>
        </ion-fab>
</ion-content>
