<ion-header>
  <ion-toolbar>
    <ion-title>Dispositivos </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-list>
        <ion-item *ngFor="let dispositivo of dispositivos">
          <ion-label >{{ dispositivo.nomeDispositivo }}</ion-label>
        </ion-item>
      </ion-list>

      <ion-fab vertical="bottom" horizontal="end" slot="fixed" (click)="cadastrarDispositivo()">
          <ion-fab-button>
            <ion-icon name="add"></ion-icon>
          </ion-fab-button>
        </ion-fab>
</ion-content>
