<ion-header>
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
     
  <form [formGroup]="formGroup" >
      <ion-item>
        <ion-label position="floating">email</ion-label>
        <ion-input formControlName="email"></ion-input>
      </ion-item>

      <ion-item>
          <ion-label position="floating">senha</ion-label>
          <ion-input formControlName="senha"></ion-input>
      </ion-item>
      
    <ion-button color="primary" [disabled]="formGroup.invalid" type="submit">Entrar</ion-button>
  </form>
</ion-content>