<ion-header>
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>



<ion-content padding>
  <div class="imagem">
    <img src="../../../assets/img/logo.png">
  </div>


   <div>
      <ion-segment [(ngModel)]="opt" >
        <ion-segment-button value="signin" >
         Sign In 
        </ion-segment-button>
        <ion-segment-button value="signup" (click)="redirecionarTelaCadastro()">
         Sign Up
        </ion-segment-button>
      </ion-segment>
    </div>
  <div>


  <form [formGroup]="formGroup" >

      <ion-item>
        <ion-label position="floating" >Email</ion-label>
        <ion-input formControlName="email"></ion-input>
      </ion-item>
    
   
        <ion-item>
          <ion-label position="floating">Senha</ion-label>
          <ion-input formControlName="senha" type="password" ></ion-input>
        </ion-item>


     <div padding text-center >
        <ion-button color="primary" [disabled]="formGroup.invalid" type="submit">Entrar</ion-button>
     </div>
  </form>
  
</div>

</ion-content>